	html {
		height: 100%;
	}
	/* body {
		display: flex;
		place-items: center;
		place-content: center;
		height: 100%;
	}
	.container {
		width: 240px;
		height: 600px;
		box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.15);
		border: 0.5px solid rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		position: relative;
	} */
	.field-group {
		display: flex;
		gap: var(--size-400);
	}

	.field-group > * {
		flex-grow: 1;
		flex-basis: 100%;
	}
	/* Reset */
	button {
		font: inherit;
	}

	table {
		border-spacing: 0;
	}

	td {
		padding: 0;
	}

	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}

	body {
		font-family: Inter, sans-serif;
		font-size: 11px;
		line-height: 1.454545;
		padding: 0;
		margin: 0;
	}

	input {
		border: none;
		font: inherit;
	}

	input:focus {
		border: none;
		outline: none;
	}

	/* Hide arrows from input */
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type="number"] {
		-moz-appearance: textfield;
	}

	ul {
		list-style: none;
	}

	p {
		margin-block: var(--size-100);
	}

	:root {
		--color-blue: #18a0fb;
		--color-selection-a: #DAEBF7;
		--color-hover-fill: rgba(0, 0, 0, 0.06);
		--color-black-10: rgba(0, 0, 0, 0.1);
		--color-black-30: rgba(0, 0, 0, 0.3);
		--color-black-80: rgba(0, 0, 0, 0.8);
		--color-black-100: #000;

		--size-0: 0px;
		--size-25: 2px;
		--size-50: 4px;
		--size-75: 6px;
		--size-100: 8px;
		--size-125: 10px;
		--size-150: 12px;
		--size-175: 14px;
		--size-200: 16px;
		--size-300: 24px;
		--size-400: 32px;
		--size-500: 40px;
		--size-600: 48px;
		--size-800: 64px;
		--size-1000: 80px;

		--border-radius-25: 2px;
		--border-radius-50: 4px;
		--border-radius-75: 6px;
		--border-radius-100: 8px;
		--border-radius-125: 10px;
		--border-radius-200: 16px;
		--border-radius-300: 24px;
		--border-radius-400: 32px;
		--border-radius-500: 40px;
		--border-radius-600: 48px;
		--border-radius-800: 64px;
		--border-radius-1000: 80px;

		--margin-0: var(--size-0);
		--margin-25: var(--size-25);
		--margin-50: var(--size-50);
		--margin-75: var(--size-75);
		--margin-100: var(--size-100);
		--margin-125: var(--size-125);
		--margin-200: var(--size-200);
		--margin-300: var(--size-300);
		--margin-400: var(--size-400);
		--margin-500: var(--size-800);
		--margin-600: var(--size-600);
		--margin-800: var(--size-800);
		--margin-1000: var(--size-1000);

		--padding-0: var(--size-0);
		--padding-50: var(--size-50);
		--padding-75: var(--size-75);
		--padding-100: var(--size-100);
		--padding-200: var(--size-200);
		--padding-300: var(--size-300);
		--padding-400: var(--size-400);
		--padding-500: var(--size-800);
		--padding-600: var(--size-600);
		--padding-800: var(--size-800);
		--padding-1000: var(--size-1000);
	}
